[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
blinker = "*"
certifi = "*"
click = "*"
coverage = "*"
distlib = "*"
exceptiongroup = "*"
filelock = "*"
flask = "*"
flask-admin = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
greenlet = "*"
iniconfig = "*"
itsdangerous = "*"
jinja2 = "*"
mako = "*"
markupsafe = "*"
packaging = "*"
pipenv = "*"
platformdirs = "*"
pluggy = "*"
pymysql = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
python-dotenv = "*"
sqlalchemy = "*"
tomli = "*"
typing-extensions = "*"
virtualenv = "*"
werkzeug = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.10"
