body{
    background-color: rgb(199, 198, 198);
    
}
.btn-container{
    position: absolute;
    right: 10px;
}
.btn{
    background-color: red;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
    text-decoration: none;
}
table{
    width: 100%;
    border-spacing: 0;
    text-align: start;
}
th{
    text-align: start;
    font-weight: bold;
}
td{
    font-weight: 300;
    border-spacing: 0;
}
.first-td-child{
    background-color: white;
}
.second-td-child{
    background-color: transparent;
}