<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste + Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script
			  src="https://code.jquery.com/jquery-3.7.1.js"
			  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/liste.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/liste.js') }}" defer></script>
</head>

<body>
    <div class="top-btns">
        <button class="list-btns" id="table-button">Aktuelle Ziele</button>
        <button class="list-btns" id="chart-button">Historische Auswertung</button>
    </div>
    <div id="table-view">
        <div class="add-btn">
            <a href="{{ url_for('main.add_ziel_form') }}" class="add-ziel">+</a>
        </div>
        <div class="totalscore">
            Aktueller Gesamtscore: {{ durchschnitt }}
        </div>
        <div class="search-container">
            <select id="abteilung" name="abteilung" required class="abteilung-select">
                <option value="alle">Alle</option>
                {% for abteilung in abteilungen %}
                <option value="{{ abteilung }}">{{ abteilung }}</option>
                {% endfor %}
            </select>  
            <input class="textsearch" type="search" name="textsearch" id="textsearch" placeholder="Volltextsuche">
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th><p>Abteilung / Rubrik<span class="material-symbols-outlined">unfold_more</span></p></th>
                        <th><p>Aussage </p></th>
                        <th><p>Status <span class="material-symbols-outlined">unfold_more</span></p></th>
                        <th><p>Wie stellen wir fest ob erreicht? </p></th>
                        <th><p>letzte Änderung / Kommentar </p></th>
                        <th><p>Datum letzte Änderung <span class="material-symbols-outlined">unfold_more</span></p></th>
                        <th><p>Änderer </p></th>
                        <th><p>Sonstiges </p></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ziel in ziele %}
                    <tr class="{% if loop.index0 % 2 == 0 %}first-td-child{% else %}second-td-child{% endif %}">
                        <td id="abteilungZiel">{{ ziel.abteilung }}</td><!-- Abteilung -->
                        <td class="editable" data-field="aussage">{{ ziel.aussage }}</td> <!-- Aussage -->
                        <td class="editable" data-field="bewertung">{{ ziel.bewertung }}</td> <!-- Bewertung -->
                        <td class="editable" data-field="kriterium">{{ ziel.kriterium }}</td> <!-- Kriterium -->
                        <td class="editable" data-field="einschätzung">{{ ziel.einschätzung }}</td> <!-- Einschätzung -->
                        <td>{{ ziel.geändert.strftime('%d.%m.%Y') }}</td> <!-- Datum der Änderung -->    
                        <td class="editable" data-field="author">{{ ziel.author }}</td> <!-- Änderer -->
                        <td class="editable" data-field="kommentar">{{ ziel.kommentar }}</td> <!-- Sonstiges -->
                        <td><button class="btns"><span class="material-symbols-outlined edit-btn">edit</span></button></td>
                        <td><button class="btns"><span class="material-symbols-outlined delete-btn">delete</span></button></td>
                        <td>
                            <a href="{{ url_for('main.get_ziel_historie', ziel_id=ziel.id) }}" class="history-link" data-has-history="{{ 'true' if ziel.historie else 'false'}}">
                                <button class="btns"><span class="material-symbols-outlined history-btn">history</span></button>
                            </a>
                        </td>
                    </tr>
                    <tr class="ziel-id" style="display:none;">
                        <td colspan="11">{{ ziel.id }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            <button id="save-btn" class="save-btn">Speichern</button>
        </div>
    </div>
    <div id="chart-view">
        <div class="auswahl-container">
            <div class="auswahl-half">
                <h1>Abteilung (Mehrfachauswahl):</h1>
                <select id="abteilung-select" multiple>
                    {% for ziel in ziele %}
                        <option value="{{ ziel.abteilung }}">{{ ziel.abteilung }}</option>
                    {% endfor %}
                </select>
            </div>
            <div  class="auswahl-half">
                <h1>Von:</h1>
                <input type="date" id="start-date">
                <h1>Bis:</h1>
                <input type="date" id="end-date">
            </div>
        </div>
        <button class="reload-btn" id="reload-btn">Laden und Anzeigen</button>
        <canvas id="myChart"></canvas>
    </div>
</body>

</html>