<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Historie von {{ ziel.id }}</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    <script src="{{ url_for('static', filename='js/history.js') }}" defer></script>
</head>

<body>
    <div class="btn-container">
        <a href="{{ url_for('main.get_table_data') }}" class="btn">TEX10 Tabelle</a>
        <a href="{{ url_for('main.get_liste') }}" class="btn">Grafische Auswertung</a>
    </div>
    <h1>Ziel Historie</h1>
    <table>
        <thead>
            <tr>
                <th>{{ ziel.abteilung }}</th>
            </tr>
            <tr>
                <th>Änderung</th>
                <th>Änderer</th>
                <th>Bewertung</th>
                <th>Kommentar</th>
                <th>Anregung</th>
            </tr>
        </thead>
        <tbody>
            {% for eintrag in historie %}
            <tr class="{% if loop.index0 % 2 == 0 %}first-td-child{% else %}second-td-child{% endif %}">
                <td>{{ eintrag.geändert.strftime('%d-%m-%Y') }}</td>
                <td class="{% if loop.index < loop.length and eintrag.changed_by != historie[loop.index0 + 1].changed_by %}changed{% endif %}">{{ eintrag.changed_by }}</td>
                <td class="{% if loop.index < loop.length and eintrag.bewertung != historie[loop.index0 + 1].bewertung %}changed{% endif %}">{{ eintrag.bewertung }}</td>
                <td class="{% if loop.index < loop.length and eintrag.comment != historie[loop.index0 + 1].comment %}changed{% endif %}">{{ eintrag.comment }}</td>
                <td class="{% if loop.index < loop.length and eintrag.comment != historie[loop.index0 + 1].comment %}changed{% endif %}">{{ eintrag.aussage }}</td> <!-- Anregung? -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>